.*
!.gitignore
!.editorconfig
!.travis.yml
!.appveyor.yml
*- Copy*
* copy.*
Thumbs.db
/[Bb]uild
/out
/CMakeSettings.json
/SimCoupe-*.exe
/SimCoupe-*.zip
/SimCoupe-20*/
/install.iss
/make_release.bat
/build_*
