# General
.*
!.gitignore
*- Copy*
* copy.*
Build/

# Visual Studio
*.aps
*.opt
*.ncb
*.plg
*.suo
*.vcproj.*.user
[Dd]ebug/
[Rr]elease/

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Linux
*.o
