<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Auto Encode</key>
	<string>FALSE</string>
	<key>Auto Open</key>
	<string>TRUE</string>
	<key>Background Image Path</key>
	<string>dmgbkg.png</string>
	<key>Build Format</key>
	<string>DMG (OS X only)</string>
	<key>Custom Icon Path</key>
	<string>Volume.icns</string>
	<key>Disk Image Name</key>
	<string>~/Desktop/SimCoupe-1.0.dmg</string>
	<key>Encode Format</key>
	<string>None</string>
	<key>Encryption Type</key>
	<string>None</string>
	<key>Finalize Format</key>
	<string>Read-only with compression</string>
	<key>Icon Size</key>
	<string>96</string>
	<key>Image Size Extra</key>
	<string>0</string>
	<key>Image Size Type</key>
	<string>Automatic</string>
	<key>Internet Enable</key>
	<string>FALSE</string>
	<key>Item List</key>
	<array>
		<dict>
			<key>Origin</key>
			<string>{76, 88}</string>
			<key>Path</key>
			<string>build/Release/SimCoupe.app</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{38, 250}</string>
			<key>Path</key>
			<string>/Users/si/SimCoupe/ReadMe.txt</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{171, 250}</string>
			<key>Path</key>
			<string>/Users/si/SimCoupe/License.txt</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
		<dict>
			<key>Origin</key>
			<string>{315, 250}</string>
			<key>Path</key>
			<string>/Users/si/SimCoupe/Demos</string>
			<key>Type</key>
			<string>File Item</string>
		</dict>
	</array>
	<key>License List</key>
	<array/>
	<key>Lock Frame</key>
	<string>TRUE</string>
	<key>Project File Path</key>
	<string>/Users/si/SimCoupe/SDL/OSX/</string>
	<key>Show Toolbar</key>
	<string>TRUE</string>
	<key>Volume Name</key>
	<string>SimCoupe 1.0</string>
	<key>Window Frame</key>
	<string>{{256, 56}, {527, 491}}</string>
</dict>
</plist>
